/* <h1>Odin Recipes</h1>
<p>Some Recipes:</p>
<a href = "recipes/lasagna.png"> Lasagna</a>
<img src="lasagna.png" alt="a lasagna dish">
<a href = "recipes/pancake.png"> Buttermilk Pancake</a>
<img s
 */
*{
    margin: 0;
    padding: 0;
}
.header {
    background-color: black;
    color: white;
    padding: 10px;
    border: 5px solid orange;
    margin-bottom: 10px;
    text-align: center;
}
.thumbnail{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
img{
    margin: 20px;
    padding: 10px;
    width: 450px;
    height: 400px;
}
.notion{
    background-color: grey;
    padding: 10px;
    border: 5px solid black;
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}

a {
    font-size: 25px;
    font-weight: bold;
    font-family: "Brush Script MT", Cursive;
}


