*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('math.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px)
}

button{
    width: 75px;
    height:75px;
    font-weight: bold;
    font-size: 25px;
}

.theCase{
    background-color: darkgray;
    width: 400px;
    height: 600px;
    border: 10px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.screen{
    background-color: darkgray;
    width: 400px;
    height: 200px;
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    overflow-x: auto;
    white-space: nowrap;
}

.clearButton{
    width: 400px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
}

.numberAndOperator{
    display: flex;
    margin-top: 5px;
}
.number{
    width: 360px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 7px;
}
.operator {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}
.zeroAndEqual{
    display: flex;
}
.Zero{
    width: 210px;
}
.Enter{
    flex: 1
}
p{
    background-color: grey;
    justify-content: center;
    display: flex;
    font-weight: bold;
}
